*
{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body
{
    text-align: center;
    background-color: #F1F6E3;

}
header
{
    margin: 20px 0px 60px 0px;
}
.head
{
    background: rgb(0, 138, 236);
}