* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  line-height: 24px;
  font-size: 1rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: normal;
  color: #777;
  scroll-behavior: smooth;
}

/* Navbar */
.bg-light {
  padding: 15px 65px;
  transition: 500ms ease;
  background-color: transparent !important;
}

.bg-light.scrolled {
  background-image: -webkit-linear-gradient(left, #2c28b1 0%, #9b5cf6 51%, #2c28b1 100%);
  background-image: -o-linear-gradient(left, #2c28b1 0%, #9b5cf6 51%, #2c28b1 100%);
  background-image: linear-gradient(to right, #2c28b1 0%, #5652d6 51%, #9b5cf6 100%);
  transition: background-color 500ms linear;
}

.navbar-light .navbar-nav .active>.nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show>.nav-link {
  color: rgb(255 255 255 / 90%);
  display: inline-block;
}

.main_btn,
.main_btn_gradient {
  margin-left: 9px;
  padding: 8px 28px;
  box-shadow: none !important;
}

.main_btn {
  background-color: #ffffff;
  color: #8359eb;
}

.main_btn_gradient {
  background-image: linear-gradient(to right, #2c28b1 0%, #9b5cf6 100%);
  color: #fff;
  border-radius: 35px;
  box-shadow: none !important;
}

.bottom_post {
  bottom: 4.5%;
  position: absolute;
  left: 50%;
}

.main_btn_gradient:hover {
  color: white;
  background-image: linear-gradient(to right, #9b5cf6 0%, #2c28b1 100%);
}

.main_btn:hover {
  background-color: transparent;
  border-color: white;
  color: white;
}

.navbar-collapse {
  margin-left: 400px;
}

.invert {
  height: 55px;
}

/* Navbar Ends */

/* Hero section */
.homelogo {
  height: 300px;
  margin-bottom: 20px;
  height: auto;
  width: 100%;
}

.home {
  margin-top: -58px;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/2.jpg) no-repeat scroll center center;
  background-size: cover;
}

.home-heading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.home-heading h2 {
  margin-top: 0;
  font-size: 48px;
  font-weight: bold;
  font-family: "Heebo", sans-serif;
  line-height: 54px;
  text-transform: uppercase;
  margin-bottom: 15px;
}

.home-heading p {
  color: #f9f9ff;
  font-family: "Roboto", sans-serif;
  max-width: 680px;
  font-size: 16px;
  line-height: 26px;
  margin: 0 auto 35px;
}

/* Hero ends */

/* Count */
.count_inner {
  max-width: 944px;
  margin: auto;
  background: #fff;
  margin-top: -7%;
  border-radius: 5px;
  -webkit-box-shadow: 0 8px 30px 0 rgb(153 153 153 / 10%);
  box-shadow: 0 8px 30px 0 rgb(153 153 153 / 10%);
  padding-top: 45px;
  padding-bottom: 50px;
  text-align: center;
}

.icon_btn {
  display: inline-block;
  background-color: transparent;
  background-size: 200% auto;
  margin-left: 9px;
  padding: 0 28px;
  color: #2c28b1;
  border-radius: 3px;
  outline: none !important;
  box-shadow: none !important;
  text-align: center;
  cursor: pointer;
  -webkit-transition: all 300ms linear 0s;
  -o-transition: all 300ms linear 0s;
  transition: all 800ms linear 0s;
  height: auto;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-top: 5px;
}

.icon_btn:hover {
  color: white;
  background-image: linear-gradient(to left, #9b5cf6 0%, #2c28b1 100%);
}

.counter {
  font-size: 2rem;
}

.likes {
  position: absolute;
  bottom: 4.75%;
  left: 9%;
}

.likes button {
  padding: 2px;
}

.likes i {
  font-size: 2rem;
}

/* Count */

/* Event timer */
.event_time_inner {
  max-width: 944px;
  margin: auto;
  background: #fff;
  margin-top: -90px;
  border-radius: 5px;
  -webkit-box-shadow: 0 8px 30px 0 rgb(153 153 153 / 10%);
  box-shadow: 0 8px 30px 0 rgb(153 153 153 / 10%);
  padding-top: 45px;
  padding-bottom: 50px;
}

.event_time_inner .event_text {
  padding-left: 65px;
}

.event_time_inner .event_text h3 {
  color: #222;
  font-size: 21px;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 15px;
}

.event_time_inner .event_text p {
  margin-bottom: 0;
}

.timer_inner {
  text-align: center;
  overflow: hidden;
}

.timer_inner .timer {
  max-width: 380px;
  margin: auto;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  position: relative;
  border-radius: 5px;
}

.timer_inner .timer .timer__section {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
  max-width: 25%;
  padding-top: 20px;
  padding-bottom: 0;
  position: relative;
}

.timer_inner .timer .timer__section .timer__number {
  font-size: 36px;
  color: #222;
  font-family: "Heebo", sans-serif;
  font-weight: bold;
}

.timer_inner .timer .timer__section .timer__label {
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  margin-top: 6px;
  color: #777;
  text-transform: capitalize;
}

/* Event timer */

/* About Us */
.welcome_text {
  margin-top: 20px;
}

.about_img {
  border-radius: 18px;
}

.welcome_text h3 {
  font-family: "Heebo", sans-serif;
  font-weight: bold;
  color: #222;
  font-size: 36px;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.welcome_text p {
  margin-bottom: 25px;
}

.welcome_text .main_btn {
  margin-top: 15px;
}

/* .main_btn_welcome {
  display: inline-block;
  background-image: -webkit-linear-gradient(left, #2c28b1 0%, #9b5cf6 51%, #2c28b1 100%);
  background-image: -o-linear-gradient(left, #2c28b1 0%, #9b5cf6 51%, #2c28b1 100%);
  background-image: linear-gradient(to right, #2c28b1 0%, #9b5cf6 51%, #2c28b1 100%);
  background-size: 200% auto;
  padding: 3px 30px;
  margin-top: 15px;
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 40px;
  border-radius: 35px;
  outline: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  text-align: center;
  cursor: pointer;
  -webkit-transition: all 300ms linear 0s;
  -o-transition: all 300ms linear 0s;
  transition: all 300ms linear 0s;
}

.main_btn_welcome:hover {
  color: white;
  background-image: -webkit-linear-gradient(left, #9b5cf6 0%, #2c28b1 51%, #9b5cf6 100%);
  background-image: -o-linear-gradient(left, #9b5cf6 0%, #2c28b1 51%, #9b5cf6 100%);
  background-image: linear-gradient(to right, #9b5cf6 0%, #2c28b1 51%, #9b5cf6 100%);
} */

/* About Us */

/* Our Team */
.team_area {
  background: rgb(249, 249, 255);
}

.p_120 {
  padding-top: 120px;
  padding-bottom: 120px;
}

.p_60 {
  padding-top: 60px;
  padding-bottom: 60px;
}

.main_title {
  text-align: center;
  margin-bottom: 75px;
}

.main_title h2 {
  font-family: Heebo, sans-serif;
  font-size: 36px;
  color: rgb(34, 34, 34);
  font-weight: bold;
  margin-bottom: 15px;
  text-transform: uppercase;
}

.main_title p {
  font-size: 16px;
  font-family: Roboto, sans-serif;
  line-height: 26px;
  color: rgb(119, 119, 119);
  max-width: 570px;
  font-weight: 300;
  margin: auto;
}

.team_inner {
  margin-bottom: -50px;
}

.team_item {
  position: relative;
  text-align: center;
  margin-bottom: 50px;
}

.team_item .team_img {
  position: relative;
  overflow: hidden;
}

.team_item .team_name {
  text-align: center;
  margin-top: 20px;
}

.team_item .team_name h4 {
  text-transform: lowercase;
  margin-bottom: 5px;
  color: rgb(0, 0, 0);
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 20px;
  transition: all 300ms linear 0s;
}

.team_item .team_name h4::first-line {
  text-transform: capitalize;
}

.team_item .team_name p {
  font-size: 14px;
  font-family: Roboto, sans-serif;
  color: rgb(119, 119, 119);
  margin-bottom: 0px;
}

/* Our Team */

/* Events */
.event_schedule_inner .tab {
  border: none;
  background-image: -moz-linear-gradient(0deg, #141da2 0%, #9b5cf6 100%);
  background-image: -webkit-linear-gradient(0deg, #141da2 0%, #9b5cf6 100%);
  background-image: -ms-linear-gradient(0deg, #141da2 0%, #9b5cf6 100%);
  border-radius: 5px;
  overflow: hidden;
}

.event_schedule_inner .tab .tablinks {
  border: none;
  background: transparent;
  text-decoration: none;
  border-radius: 0;
  padding: 0 50px;
  line-height: 80px;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  font-family: "Heebo", sans-serif;
  text-transform: uppercase;
}

/* .event_schedule_inner .tab .tablinks:hover {
  background: #4331b0;
  border: none;
  color: #fff;
}
.event_schedule_inner .tab .tablinks.active {
  background: #4331b0;
  border: none;
  color: #fff;
} */
.tabcontent {
  background: #f9f9ff;
  padding: 20px 20px 0px 20px;
  border-bottom-right-radius: 35px !important;
  border-bottom-left-radius: 35px !important;
}

.posts {
  box-shadow: 0px 10px 20px 4px #00000015;
  margin-bottom: 30px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  position: relative;
  padding-bottom: 50px;
  border-radius: 18px;
}

.blog-inner {
  margin-top: 25px;
  padding: 0px 20px;
  padding-bottom: 30px;
}

.posts a {
  text-decoration: none;
}

.posts h2 {
  margin-bottom: 10px;
  font-size: 24px;
  font-weight: 600;
}

.posts h2 a {
  color: #727275;
}

.event_date {
  background-color: #f9f9ff;
  color: black;
  padding: 10px 6px;
  margin-left: 1px;
}

.line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.img-fluid {
  border-top-left-radius: 18px;
  border-top-right-radius: 18px;
}

/* Events */

/* Gallery */
#gallery {
  background: #f9f9ff;
}

/* Gallery */

/* Footer */
.footer-area {
  background: #04091e;
}

.footer_title {
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  font-family: "Heebo", sans-serif;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 28px;
}

.list {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.tp_widgets .list li {
  margin-bottom: 12px;
}

.tp_widgets .list li a,
.tp_widgets .list li button {
  color: #fff;
  font-size: 14px;
  font-weight: 300;
  font-family: "Roboto", sans-serif;
  padding: 0px;
}

.footer-bottom {
  padding-top: 50px;
}

.footer-bottom .footer-text {
  color: #fff;
  opacity: .6;
}

.m-0 {
  margin: 0 !important;
}

.footer-bottom .footer-social {
  text-align: center;
}

.footer-bottom .footer-social a {
  font-size: 14px;
  line-height: 30px;
  color: #fff;
  margin-left: 6px;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
  background: #1e2235;
  height: 30px;
  width: 30px;
  text-align: center;
  display: inline-block;
  -webkit-transition: all 300ms linear 0s;
  -o-transition: all 300ms linear 0s;
  transition: all 300ms linear 0s;
}

.footer-bottom .footer-social a:hover {
  background: #6f24da;
}

.single-footer-widget .input-group {
  display: block !important;
}

.single_footer_section input {
  max-width: 340px;
  width: 100%;
  border: 1px solid #333333;
  font-size: 13px;
  line-height: 40px;
  padding-right: 40px;
  height: 40px;
  color: #999999;
  border-radius: 20px;
  background: #fff;
  padding-left: 20px;
  margin-bottom: 10px;
}

.single_footer_section textarea {
  max-width: 340px;
  width: 100%;
  border: 1px solid #333333;
  font-size: 13px;
  line-height: 40px;
  padding-right: 40px;
  height: 100px;
  color: #999999;
  border-radius: 10px;
  background: #fff;
  padding-left: 20px;
  margin-bottom: 10px;
}

.single_footer_section .sub-btn {
  background-image: -webkit-gradient(linear, left top, right top, from(#2c28b1), color-stop(51%, #9b5cf6), to(#2c28b1));
  background-image: -webkit-linear-gradient(left, #2c28b1 0%, #9b5cf6 51%, #2c28b1 100%);
  background-image: -o-linear-gradient(left, #2c28b1 0%, #9b5cf6 51%, #2c28b1 100%);
  background-image: linear-gradient(to right, #2c28b1 0%, #9b5cf6 51%, #2c28b1 100%);
  background-size: 200% auto;
  color: #fff;
  font-weight: 500;
  line-height: 40px;
  font-size: 12px;
  padding: 0px 38px;
  cursor: pointer;
  border-radius: 20px;
  -webkit-transition: all 300ms linear 0s;
  -o-transition: all 300ms linear 0s;
  transition: all 300ms linear 0s;
}

.single_footer_section .sub-btn:hover {
  background-image: -webkit-linear-gradient(left, #9b5cf6 0%, #2c28b1 51%, #9b5cf6 100%);
  background-image: -o-linear-gradient(left, #9b5cf6 0%, #2c28b1 51%, #9b5cf6 100%);
  background-image: linear-gradient(to right, #9b5cf6 0%, #2c28b1 51%, #9b5cf6 100%);
}

input[type="text"],
input[type="email"],
textarea {
  outline: none;
}

/* Footer */

/* Media Queries */
@media (min-width: 1200px) {
  .container {
    max-width: 1170px;
  }

  /* .single_footer_section .sub-btn {
    margin-top: 10px;
    right: 60px;
    top: 200px;
  } */
}

@media (min-width: 992px) {
  .navbar-expand-lg .navbar-collapse {
    display: contents !important;
    flex-basis: auto;
    margin-left: 10px;
  }
}

@media (max-width: 991px) {
  .event_time_area {
    padding-top: 120px;
  }

  .bg-light {
    padding: 15px 5px;
  }

  .header_area .navbar {
    background-image: -moz-linear-gradient(0deg, #141da2 0%, #9b5cf6 100%);
    background-image: -webkit-linear-gradient(0deg, #141da2 0%, #9b5cf6 100%);
    background-image: -ms-linear-gradient(0deg, #141da2 0%, #9b5cf6 100%);
  }

  .navbar-collapse {
    margin-left: 0px;
  }

  .footer-area .col-sm-6 {
    margin-bottom: 30px;
  }
}

@media (max-width: 767px) {
  .footer-bottom .footer-social {
    text-align: center;
    margin-top: 15px;
  }
}

@media (max-width: 575px) {
  .home-heading h2 {
    font-size: 28px;
    line-height: 38px;
  }

  .event_time_area {
    padding-top: 92px;
    padding-bottom: 0px;
  }

  .footer-area .col-sm-6 {
    margin-top: 20px;
  }

  /* .single_footer_section .sub-btn {
    margin-top: 10px;
    right: 145px;
    top: 200px;
  } */
}

/* Media Queries */